body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}

h1 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}
a {
    color: #377ba8;
}
hr {
    border: none;
    border-top: 1px solid lightgray;
}
nav {
    background: lightgray;
}

.content {
    padding: 0 1rem 1rem;
}
.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}
.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}
.post > header > div:first-of-type {
    flex: auto;
}
.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.post .about {
    color: slategray;
    font-style: italic;
}
.post .body {
    white-space: pre-line;
}
.content:last-child {
    margin-bottom: 0;
}
.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}
