{% extends 'base.html' %} {% block header %}
<h3 class="text-center my-2 p-2">
    {% block title %}Notes{% endblock %}
    <small class="text-body-secondary"> -- latest notes</small>
</h3>
<hr />
{% if g.user %}
<ul class="nav">
    <li class="nav-item">
        <a
            class="nav-link active"
            aria-current="page"
            href="{{ url_for('notes.index') }}"
            >Home</a
        >
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('notes.create') }}">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
</ul>
{% endif %} {% endblock %} {% block content %} {% for note in notes %}
<div class="col my-3">
    <div class="bg-dark-subtle card p-4" style="width: 18rem">
        <div class="card-body p-2">
            <h5 class="card-title my-1">{{ note['title'] }}</h5>
            <h6 class="card-subtitle my-2 text-body-secondary">
                by {{ note['username'] }} on {{
                note['created'].strftime('%Y-%m-%d') }}
            </h6>
            <p class="card-text p-3 my-4">{{ note['body'] }}</p>
            {% if g.user['id'] == note['author_id'] %}
            <a
                href="{{ url_for('notes.update', id=note['id']) }}"
                class="card-link"
                >Edit</a
            >
            {% endif %}
            <a
                href="{{ url_for('notes.view', id=note['id']) }}"
                class="card-link"
                >View</a
            >
        </div>
    </div>
</div>
{% if not loop.last %} {% endif %} {% endfor %} {% endblock %}
