{% extends 'base.html' %} {% block header %}
<h3 class="text-center my-2 p-2">
    {% block title %}Log in{% endblock %}
    <small class="text-body-secondary">With faded secondary text</small>
</h3>
{% endblock %} {% block content %}
<div class="card mx-auto my-4" style="width: 20rem">
    <div class="card-body">
        <h5 class="card-title">Log in</h5>
        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    required
                />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>
{% endblock %}
